OPENAI_API_KEY=

SUPABASE_URL=
SUPABASE_KEY=

PINECONE_API_KEY=
PINECONE_INDEX_NAME=sc-coverage-rules

GOOGLE_APPLICATION_CREDENTIALS=
GMAIL_SENDER_EMAIL=

STREAMLIT_DASHBOARD_URL=http://localhost:8501
N8N_SC_REPORT_RECIPIENT_EMAIL=
N8N_SC_REPORT_RECIPIENT_NAME=
