python-dotenv
pandas
openpyxl
pydantic
pytest
streamlit
plotly

langchain
langchain-openai
langchain-community
tiktoken
langgraph

supabase
pinecone

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
